* {
  font-family: "Press Start 2P", cursive;
}

.grid {
  display: grid;
  grid-template-columns: 350px 200px 115px;
  margin-left: 600px;
}

.side_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px rebeccapurple;
  margin-top: 50px;
}

.game_board {
  border: solid 2px rebeccapurple;
  margin-top: 50px;
}

.next {
  margin-top: 5px;
  margin-left: 25px;
}

.hold {
  margin-top: 5px;
  margin-left: 25px;  
}

.filler {
  margin-top: 370px;
}

.play_button {
  background-color: rebeccapurple;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px;
}

.pause_button {
  background-color: rebeccapurple;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px;
  display: none;
}

.high_scores {
  font-size: 13px;
  margin-left: 25px;
  margin-bottom: 25px;
  color: darkolivegreen;
}

.label {
  font-size: 13px;
  padding: 10px 25px;
  color: darkolivegreen;
}

.control_label {
  font-size: 13px;
  padding: 0px 25px;
  color: darkolivegreen;
}

.title {
  font-size: 48px;
  padding: 0px 20px;
  margin-bottom: 35px;
  color: rebeccapurple;
}

.subtitle {
  font-size: 19px;
  padding: 5px 10px;
  margin-top: 25px;
  border-top: solid 2px rebeccapurple;
  border-bottom: solid 2px rebeccapurple;
  color: rebeccapurple;
}
